.pointWrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.pointTitle {
    padding-top: 70px;
    padding-bottom: 30px;
    color: #00C27A;
    font-size: 45px;
    font-weight: 700;

}

.pointContainer {
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 85%;

    padding-left: 75px;
    padding-right: 75px;


    font-weight: bold;
    background-color: #222222;
    border-radius: 20px;
    width: 1290px;
    box-shadow:
        20px 20px 40px #00c27b3d;

    transition: background-color 0.3s, box-shadow 0.3s, ;

}

.pointContainer:hover {
    background-color: #6b3b2a;
    box-shadow:
        20px 20px 40px #6b3b2a;
}


.pointContent {
    margin: 40px 50px 0px;
    font-weight: normal;
    font-size: 30px;
    color: #AAAAAA
}



.HeadContainer {
    color: #f0f0f0ee;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pointHeader {

    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    line-height: 40px;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .pointHeader {

        font-family: 'sans-serif', sans-serif;
        font-size: 16px;

    }

    .pointWrapper {
        gap: 30px;
    }

    .pointContainer {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;

    }

    .pointContent {
        font-size: 15px;
        margin: 20px 0px 0px;
    }

    .HeadContainer {
        font-size: 20px;
        gap: 10px;
        display: flex;
        flex-direction: row;

    }
}